<div class="form-container">

  <h2>{{ titulo }}</h2>

  @if (errorMessage) {
  <div class="error-box">
    {{ errorMessage }}
  </div>
}

  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()">

    <div class="form-grid">

      <!-- NOMBRE -->

      <div class="form-group">

        <label for="nombre">
          Nombre
        </label>

        <input
          id="nombre"
          type="text"
          formControlName="nombre"
        />

        @if (
          form.get('nombre')?.invalid &&
          form.get('nombre')?.touched
        ) {

          <small>

            El nombre debe tener entre
            3 y 15 caracteres.

          </small>
        }

      </div>


      <!-- APELLIDO -->

      <div class="form-group">

        <label for="apellido">
          Apellido
        </label>

        <input
          id="apellido"
          type="text"
          formControlName="apellido"
        />

        @if (
          form.get('apellido')?.invalid &&
          form.get('apellido')?.touched
        ) {

          <small>

            El apellido debe tener entre
            3 y 15 caracteres.

          </small>
        }

      </div>


      <!-- DNI -->

      <div class="form-group">

        <label for="dni">
          DNI
        </label>

        <input
          id="dni"
          type="text"
          formControlName="dni"

        />

        @if (
          form.get('dni')?.invalid &&
          form.get('dni')?.touched
        ) {

          <small>

            Ingrese un DNI válido.

          </small>
        }

      </div>


      <!-- EMAIL -->

      <div class="form-group">

        <label for="email">
          Email
        </label>

        <input
          id="email"
          type="email"
          formControlName="email"
        />

        @if (
          form.get('email')?.invalid &&
          form.get('email')?.touched
        ) {

          <small>

            Email inválido.

          </small>
        }

      </div>


      <!-- TELEFONO -->

      <div class="form-group">

        <label for="telefono">
          Teléfono
        </label>

        <input
          id="telefono"
          type="text"
          formControlName="telefono"
        />

        @if (
          form.get('telefono')?.invalid &&
          form.get('telefono')?.touched
        ) {

          <small>

            Teléfono inválido.

          </small>
        }

      </div>

    </div>


    <!-- VALIDACION PERSONALIZADA -->

    @if (
      form.errors?.['emailTelefono']
    ) {

      <div class="validator-error">

        Debe ingresar al menos
        email o teléfono.

      </div>
    }


    <!-- BOTONES -->

    <div class="buttons">

      <button
        type="button"
        class="cancel-btn"
        (click)="cancelar()">

        Cancelar

      </button>

      <button
        type="submit"
        class="save-btn">

        Guardar

      </button>

    </div>

  </form>

</div>
