<h2>Administración de Cuentas</h2>

<div class="top-actions">
  <button class="back-btn" routerLink="/home">Volver</button>
  @if (usuario()?.rol !== 'EMPLEADO') {
  <div class="create-button-container">
    <button (click)="crearEmpleado()">Crear nuevo usuario</button>
  </div>
  }
</div>

<div class="pagination-controls">

  <div class="page-size">

    <label for="size">
      Mostrar:
    </label>

    <select
      id="size"
      [value]="size()"
      (change)="changeSize($event)">

      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>

    </select>
  </div>

<div class="sorting-controls">

  <div class="sort-group">

    <label for="sortBy">
      Ordenar por:
    </label>

    <select
      id="sortBy"
      [value]="sortBy()"
      (change)="changeSort($event)">

      <option value="nickname">
        Nickname
      </option>

      <option value="rol">
        Rol
      </option>

      <option value="estado">
        Estado
      </option>

    </select>

  </div>

  <div class="sort-group">

    <label for="direction">
      Orden:
    </label>

    <select
      id="direction"
      [value]="direction()"
      (change)="changeDirection($event)">

      <option value="asc">
        Ascendente
      </option>

      <option value="desc">
        Descendente
      </option>

    </select>

  </div>

</div>
</div>

<label class="checkbox-filter">

  <input
    type="checkbox"
    [checked]="mostrarBajas()"
    (change)="mostrarBajas.set($any($event.target).checked)"
  >

  Mostrar cuentas dadas de baja

</label>

<ul>
  @for (cuenta of cuentasFiltradas(); track cuenta.nickname) {
  <li>
    <span class="title">
      <b>{{ cuenta.nickname }}</b>

  <span>
    {{ cuenta.rol }} • {{ cuenta.estado }}
  </span>
    </span>

    @if (cuenta.rol !== 'FOUNDER' && usuario()?.rol !== 'EMPLEADO') {
    <span class="actions">

      <button [routerLink]="['/cuenta', cuenta.nickname]">
  Ver detalles
</button>

    </span>
    }
  </li>
  }
</ul>

<div class="pagination">

  <button
    (click)="previousPage()"
    [disabled]="page() === 0">

    Anterior

  </button>

  <span>
    Página {{ page() + 1 }}
    de {{ totalPages() }}
  </span>

  <button
    (click)="nextPage()"
    [disabled]="page() >= totalPages() - 1">

    Siguiente

  </button>

</div>
