<h2>Administración de Cuentas</h2>

@if (usuario()?.rol !== 'EMPLEADO') {
  <div class="create-button-container">
  <button (click)="crearEmpleado()">Crear nuevo usuario</button>
</div>
}

<ul>
  @for (cuenta of cuentas(); track cuenta.id) {
  <li>
    <span class="title">
      <b>{{ cuenta.nombreUsuario }}</b> - {{ cuenta.rol }}
    </span>

@if (cuenta.rol !== 'FOUNDER' && usuario()?.rol !== 'EMPLEADO') {
  <span class="actions">
    <button (click)="editCuenta(cuenta)">Editar</button>
    @if (cuenta.id !== usuario()?.id) {
          <button (click)="deleteCuenta(cuenta)">Eliminar</button>
    }
  </span>
  }
  </li>
  }
</ul>
