<h2>Administración de Cuentas</h2>

<div class="create-button-container">
  <button routerLink="/cuentas/nuevo">Crear nuevo usuario</button>
</div>
<ul>
  @for (cuenta of cuentas(); track cuenta.id) {
  <li>
    <span class="title">
      <b>{{ cuenta.nombreUsuario }}</b> - {{ cuenta.rol }}
    </span>

@if (cuenta.rol !== 'FOUNDER') {
  <span class="actions">
    <button (click)="editCuenta(cuenta)">Editar</button>
    <button (click)="deleteCuenta(cuenta)">Eliminar</button>
  </span>
  }
  </li>
  }
</ul>
