<h2>{{ titulo }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Cliente -->
  <div>
    <label>Cliente</label>
    <select formControlName="personaId">
      <option value="">Seleccione un cliente</option>

      @for (p of personas(); track p.id) {
      <option [value]="p.id">{{ p.dni }} - {{ p.nombre }} {{ p.apellido }}</option>
      }
    </select>

    @if (form.get('personaId')?.invalid && form.get('personaId')?.touched) {
    <p class="error">* Debe seleccionar un cliente</p>
    }
  </div>

  <!-- Inventario / Juego -->
  <div>
    <label>Juego en inventario</label>
    <select formControlName="inventarioId">
      <option value="">Seleccione un juego</option>

      @for (item of inventario(); track item.id){ @if (item.enLocal > 0) {
      <option [value]="item.id">
        {{ videojuegoMap()[item.videojuegoId] || 'Desconocido' }} (Stock: {{ item.enLocal }})
      </option>
      } }
    </select>

    @if (form.get('inventarioId')?.invalid && form.get('inventarioId')?.touched) {
    <p class="error">* Debe seleccionar un juego</p>
    }
  </div>

  <!-- Fecha inicio -->
  <div>
    <label>Fecha inicio</label>
    <input type="date" formControlName="fechaInicio" />
    @if (form.get('fechaInicio')?.invalid && form.get('fechaInicio')?.touched) {
    <p class="error">* Campo obligatorio o fecha inválida</p>
    }
  </div>

  <!-- Fecha fin -->
  <div>
    <label>Fecha fin</label>
    <input type="date" formControlName="fechaFin" />
    @if (form.get('fechaFin')?.invalid && form.get('fechaFin')?.touched) {
    <p class="error">* Campo obligatorio o fecha inválida</p>
    }
  </div>

  <!-- Monto fijo -->
  <div>
    <label>Monto fijo</label>
    <input type="number" formControlName="montoFijo" />
    @if (form.get('montoFijo')?.invalid && form.get('montoFijo')?.touched) {
    <p class="error">* Monto inválido</p>
    }
  </div>

  <!-- Fecha devolución opcional -->
  <div>
    <label>Fecha devolución (opcional)</label>
    <input type="date" formControlName="fechaDevolucion" />
  </div>

  <!-- Botones -->
  <div class="buttons">
    <button type="submit" [disabled]="form.invalid">Guardar</button>
    <button type="button" (click)="cancelar()">Cancelar</button>
  </div>
</form>
