<h2>Bloqueos historicos</h2>

<div class="top-actions">

    <a
        class="back-button"
        routerLink="/bloqueos">

        Volver

    </a>

</div>

<table>

<thead>

<tr>

<th>Persona</th>
<th>DNI</th>
<th>Inicio</th>
<th>Fin</th>
<th>Motivo</th>
<th>Estado</th>

</tr>

</thead>

<tbody>

<tr *ngFor="let bloqueo of bloqueados()">

<td>

{{bloqueo.persona.nombre}}
{{bloqueo.persona.apellido}}

</td>

<td>

{{bloqueo.persona.dni}}

</td>

<td>

{{bloqueo.fechaInicio}}

</td>

<td>

<span
class="indefinido"
*ngIf="bloqueo.fechaFin=='Indefinido'">

Indefinido

</span>

<span *ngIf="bloqueo.fechaFin!='Indefinido'">

{{bloqueo.fechaFin}}

</span>

</td>

<td class="motivo">

{{bloqueo.motivo}}

</td>

<td>

    <span
        class="vigente"
        *ngIf="bloqueo.vigente">

        Vigente

    </span>

    <span
        class="finalizado"
        *ngIf="!bloqueo.vigente">

        Finalizado

    </span>

</td>

</tr>

</tbody>

</table>