<h2>Listado de Videojuegos</h2>

<div class="top-actions">
  <button class="back-btn" routerLink="/home">Volver</button>
  <button class="new-btn" routerLink="/videojuegos/new">Crear Videojuego</button>
</div>

<ul>
  @for (v of videojuegos(); track v.videojuegoId) {
    <li>
      <span class="title">
        <b>{{ v.titulo }}</b> - {{ v.genero }}
      </span>

      <span class="actions">
        <button [routerLink]="['/videojuegos', v.videojuegoId]">Ver</button>
        <button [routerLink]="['/videojuegos/edit', v.videojuegoId]">Editar</button>
        <button (click)="delete(v.videojuegoId)">Eliminar</button>
      </span>
    </li>
  }
</ul>





