<h2>Listado de Videojuegos</h2>

<div class="top-actions">
  <button class="back-btn" routerLink="/home">Volver</button>
  <button class="new-btn" routerLink="/videojuegos/new">Crear Videojuego</button>
</div>

<ul>
  @for (v of videojuegos(); track v.id) {
    <li>
      <span class="title">
        <b>{{ v.titulo }}</b> - {{ v.genero }}
      </span>

      <span class="actions">
        <button routerLink="/videojuegos/{{ v.id }}">Ver</button>
        <button routerLink="/videojuegos/edit/{{ v.id }}">Editar</button>
        <button (click)="delete(v.id)">Eliminar</button>
      </span>
    </li>
  }
</ul>





