<h2>
  @if (isEdit) { Editar Videojuego }
  @else { Crear Videojuego }
</h2>

<form (ngSubmit)="save()">

  <label>Título</label>
  <input
    [ngModel]="videojuego().titulo"
    (ngModelChange)="updateTitulo($event)"
    name="titulo"
  />

  <label>Sinopsis</label>
  <textarea
    [ngModel]="videojuego().sinopsis"
    (ngModelChange)="updateSinopsis($event)"
    name="sinopsis"
  ></textarea>

  <label>Género</label>
  <input
    [ngModel]="videojuego().genero"
    (ngModelChange)="updateGenero($event)"
    name="genero"
  />

  <label>Desarrollador</label>
  <input
    [ngModel]="videojuego().desarrollador"
    (ngModelChange)="updateDesarrollador($event)"
    name="desarrollador"
  />


  <label>Multijugador</label>
  <div class="multiplayer-toggle">
    <button
      type="button"
      class="true-btn"
      [class.active]="videojuego().multijugador"
      (click)="updateMultijugador(true)"
    >
      ✔
    </button>

    <button
      type="button"
      class="false-btn"
      [class.active]="!videojuego().multijugador"
      (click)="updateMultijugador(false)"
    >
      ✘
    </button>
  </div>

  <label>Año de lanzamiento</label>
  <input
    type="number"
    [ngModel]="videojuego().lanzamiento"
    (ngModelChange)="updateLanzamiento($event)"
    name="lanzamiento"
  />

  <div class="form-buttons">
    <button type="button" class="back-btn" (click)="volver()">Volver</button>
    <button type="submit" class="save-btn">Guardar</button>
  </div>

</form>



