<div class="form-container">

    <h2>Nuevo bloqueo</h2>

    @if (errorMessage) {
        <div class="error-box">
            {{ errorMessage }}
        </div>
    }

    <form
        [formGroup]="form"
        (ngSubmit)="guardar()">

        <!-- PERSONA -->

        <div class="form-group">

            <label>Persona</label>

            <select formControlName="personaDni">

                <option value="">
                    Seleccione una persona
                </option>

                <option
                    *ngFor="let persona of personas()"
                    [value]="persona.dni">

                    {{ persona.apellido }}, {{ persona.nombre }}

                </option>

            </select>

            @if(
                form.get('personaDni')?.invalid &&
                form.get('personaDni')?.touched
            ){

                <small>

                    Debe seleccionar una persona.

                </small>

            }

        </div>


        <!-- FECHA INICIO -->

        <div class="form-group">

            <label>Fecha de inicio</label>

            <input
                type="date"
                formControlName="fechaInicio"
                [max]="hoy">

            @if(
                form.get('fechaInicio')?.invalid &&
                form.get('fechaInicio')?.touched
            ){

                <small>

                    Debe ingresar una fecha de inicio.

                </small>

            }

        </div>


        <!-- FECHA FIN -->

        <div class="form-group">
            <input
                type="date"
                formControlName="fechaFin">
            @if(form.errors?.['rangoInvalido']){
                <small>
                    La fecha de fin no puede ser anterior a la fecha de inicio.
                </small>
            }
        </div>


        <!-- MOTIVO -->

        <div class="form-group">

            <label>Motivo</label>

            <textarea
                formControlName="motivo">
            </textarea>
            <div class="char-counter">
                {{ form.get('motivo')?.value?.length || 0 }}/255
            </div>

            @if(
                form.get('motivo')?.invalid &&
                form.get('motivo')?.touched
            ){

                <small>

                    El motivo debe tener entre 5 y 255 caracteres.

                </small>

            }

        </div>


        <!-- BOTONES -->

        <div class="buttons">

            <button
                type="button"
                class="cancel-btn"
                (click)="router.navigate(['/bloqueos'])">

                Cancelar

            </button>

            <button
                type="submit"
                class="save-btn"
                [disabled]="form.invalid">

                Guardar

            </button>

        </div>

    </form>

</div>
